*{
      box-sizing: border-box;
      margin    : 0;
      padding   : 0
}

body{
  background-image: url(lava-rock.gif) ;
  color           : #fff;
  font            : 16px;
  font-family     : "Oswald", sans-serif;
}

/*Nav*/

hr {
    margin: -7px 0
}

a {
    color          : #fff;
    text-decoration: none
}

ul {
    list-style: none
}
.up {
    cursor     : pointer;
    display    : inline-block;
    border     : 0;
    font-weight: 700;
    padding    : 10px 20px;
    background : #262626;
    font-size  : 15px;
    border     : 1px solid #fff;
    margin     : 10px 0;
    transform  : translateX(1200px)
}

.up:hover {
    opacity: .7
}

.nav-main {
    font-size       : 15px;
    display         : flex;
    top             : 0;
    right           : 0;
    left            : 0;
    justify-content : space-between;
    align-items     : center;
    height          : 111px;
    opacity         : 1.5;
    padding         : 20px 0
}

.nav-brand {
    margin-top: -10px;
    margin-left: -39px;
    width      : 260px;
    height     : 140px
}

.nav-main ul {
   transform: translateX(-19px)translateY(21px);
    display: flex
}

.nav-main ul li {
    padding: 10px
}

.nav-main ul li a:hover {
    border-bottom: solid #ffffff 1px
}

.bus:hover {
    border-bottom: 2px solid #336094;
    color        : #ffdead;
    position     : absolute
}

.nav-main ul li a:hover {
    padding: 10px
}

.nav-main ul.nav-menu {
    flex       : 1;
    margin-left: 20px
}

.nav-menu {
    transform: translateX(50px)
}

.menu-btn {
    position : absolute;
    cursor   : pointer;
    top      : 15px;
    right    : 30px;
    font-size: 1.5rem;
    z-index  : 2;
    display  : none
}
.btn {
    cursor     : pointer;
    display    : inline-block;
    border     : 0;
    font-weight: 700;
    padding    : 10px 20px;
    background : #262626;
    font-size  : 15px;
    border     : 1px solid #fff;
    margin     : 10px 0
}

.btn:hover {
    opacity: .7
}



/*Content Page*/

.content{
  display: grid;
  padding: 80px 0px;
  justify-items: center;
}

.content img {
    width : 60%;
    height: 420px;
}

.title{
  font-size: 3em;
  padding: 10px 30px;
  margin: 20px 20px;
}

.parrafo{
padding: 10px 20px;
margin: 10px 20px;
font-size: 25px;
}






.social {
    margin: 50px
}

.social p {
    display: none;
    text-align   : center;
    font-size    : 30px;
    margin-bottom: 20px}

    /*Esto si funciona, solo que no tienes Redes Sociales, por eso le pusiste un
    Display None*/

    .links {
        display        : none;
        align-items    : center;
        justify-content: center
    }

    .links a {
        margin: 0 30px
    }

    .footer-links {
        display: none;
        background-image: url(../img/Patron/diamond-zag/diamond-zag.png);
        color           : #616161;
        font-size       : 12px;
        padding         : 35px
    }

    .footer-container {
        display              : grid;
        grid-template-columns: repeat(4, 1fr);
        gap                  : 10px;
        align-items          : flex-start;
        justify-content      : center
    }

    .footer-container {
        margin: auto
    }

    .footer-container ul li {
        line-height: 2.8
    }

    .footer {
        background-color: #1f1d1d;
        color           : #fff;
        font-size       : 12px;
        padding         : 20px 0;
        text-align      : center;
        padding-bottom  : 20px
    }


    @media (max-width:700px) {
        .menu-btn {
            display: block
        }

        .nav-main ul.nav-menu {
            display   : block;
            position  : absolute;
            top       : 0;
            left      : 0;
            background: #2f3640;
            height    : 100%;
            padding   : 30px;
            opacity   : .9;
            transform : translateX(-400px);
            transition: transform .5s ease-in-out
        }

        .nav-main ul.nav-menu.show {
            transform: translateX(-20px)
        }

        .nav-main ul.nav-menu li {
            padding  : 20px;
            font-size: 14px
        }

        .nav-main ul.nav-menu-right {
            margin-right: 40px
        }


        .footer-links.footer-container {
            grid-template-columns: 1fr
        }
    }

    @media (max-width:1182px) {
        .menu-btn {
            display: block
        }

        .nav-main ul.nav-menu {
            display   : block;
            position  : absolute;
            top       : 0;
            left      : 0;
            background: #2f3640;
            height    : 100%;
            padding   : 30px;
            opacity   : .9;
            transform : translateX(-400px);
            transition: transform .5s ease-in-out
        }

        .nav-main ul.nav-menu.show {
            transform: translateX(-20px)
        }

        .nav-main ul.nav-menu li {
            padding  : 20px;
            font-size: 14px
        }

        .nav-main ul.nav-menu-right {
            margin-right: 40px
        }
    }
